:root {
  --primary-color: #171539;
  --primary-font: "hanken grotesk", sans-serif;
  --secondary-color: #c9974e;
  --secondary-font: "Cookie", cursive;
  --accent-color: #6a7b73;
  --pink-accent-color: #bd7877;
}

body {
  text-align: center;
  font-family: var(--primary-font);
}
.container {
  max-width: 800px;
}
h1 {
  font-family: "cookie", cursive;
  color: var(--accent-color);
  margin: 0;
}
h2 {
  color: var(--pink-accent-color);
  font-family: var(--primary-font)
}
.footerWrap {
  text-align: center;

}
#buttonFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
}

.para-2 {
  text-align: center;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 15px;
  margin: 2px 5px;
  padding: 10px 5px;
}
.fa-canadian-maple-leaf {
 color: var(--pink-accent-color); 
 width: 100px; 
 text-align: center;
}
.btn-outline-info {
  text-align: center;

}
.buttonFlex {
  text-align: center;
  margin: 5px;

}