:root {
  --primary-color: #171539;
  --primary-font: "hanken grotesk", sans-serif;
  --secondary-color: #c9974e;
  --secondary-font: "Cookie", cursive;
  --accent-color: #6a7b73;
  --pink-accent-color: #bd7877;
}

body {
  text-align: center;
}

h1 {
  font-family: "cookie", cursive;
  color: var(--accent-color);
  text-align: center;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
}
.fa-canadian-maple-leaf {
  color: crimson;
  justify-content: center;
  width: 100px;
}

.p-2 {
  background-color: var(--primary-color);
  color: white;
  width: 500px;
  border-radius: 20px;
  margin: 15px;
  text-align: center;
}
